In [25]:
# Importing the necessary prerequisites for data analysis with pandas and numpy.

import pandas as pd
import numpy as np

In [26]:
# load the Required data

df = pd.read_csv("Amazon Sales data.csv")

In [27]:
df.head(10)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50
5,Australia and Oceania,Solomon Islands,Baby Food,Online,C,2/4/2015,547995746,2/21/2015,2974,255.28,159.42,759202.72,474115.08,285087.64
6,Sub-Saharan Africa,Angola,Household,Offline,M,4/23/2011,135425221,4/27/2011,4187,668.27,502.54,2798046.49,2104134.98,693911.51
7,Sub-Saharan Africa,Burkina Faso,Vegetables,Online,H,7/17/2012,871543967,7/27/2012,8082,154.06,90.93,1245112.92,734896.26,510216.66
8,Sub-Saharan Africa,Republic of the Congo,Personal Care,Offline,M,7/14/2015,770463311,8/25/2015,6070,81.73,56.67,496101.10,343986.90,152114.20
9,Sub-Saharan Africa,Senegal,Cereal,Online,H,4/18/2014,616607081,5/30/2014,6593,205.70,117.11,1356180.10,772106.23,584073.87

In [28]:
df.tail(10)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
90,Sub-Saharan Africa,Sierra Leone,Office Supplies,Offline,H,12/6/2016,621386563,12/14/2016,948,651.21,524.96,617347.08,497662.08,119685.00
91,Australia and Oceania,Australia,Beverages,Offline,H,7/7/2014,240470397,7/11/2014,9389,47.45,31.79,445508.05,298476.31,147031.74
92,Middle East and North Africa,Azerbaijan,Office Supplies,Online,M,6/13/2012,423331391,7/24/2012,2021,651.21,524.96,1316095.41,1060944.16,255151.25
93,Europe,Romania,Cosmetics,Online,H,11/26/2010,660643374,12/25/2010,7910,437.20,263.33,3458252.00,2082940.30,1375311.70
94,Central America and the Caribbean,Nicaragua,Beverages,Offline,C,2/8/2011,963392674,3/21/2011,8156,47.45,31.79,387002.20,259279.24,127722.96
95,Sub-Saharan Africa,Mali,Clothes,Online,M,7/26/2011,512878119,9/3/2011,888,109.28,35.84,97040.64,31825.92,65214.72
96,Asia,Malaysia,Fruits,Offline,L,11/11/2011,810711038,12/28/2011,6267,9.33,6.92,58471.11,43367.64,15103.47
97,Sub-Saharan Africa,Sierra Leone,Vegetables,Offline,C,6/1/2016,728815257,6/29/2016,1485,154.06,90.93,228779.10,135031.05,93748.05
98,North America,Mexico,Personal Care,Offline,M,7/30/2015,559427106,8/8/2015,5767,81.73,56.67,471336.91,326815.89,144521.02
99,Sub-Saharan Africa,Mozambique,Household,Offline,L,2/10/2012,665095412,2/15/2012,5367,668.27,502.54,3586605.09,2697132.18,889472.91

In [29]:
# check the shape of the data.
df.shape

(100, 14)

In [30]:
# check the basic information of the data.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          100 non-null    object
 1   Country         100 non-null    object
 2   Item Type       100 non-null    object
 3   Sales Channel   100 non-null    object
 4   Order Priority  100 non-null    object
 5   Order Date      100 non-null    object
 6   Order ID        100 non-null    int64
 7   Ship Date       100 non-null    object
 8   Units Sold      100 non-null    int64
 9   Unit Price      100 non-null    float64
 10  Unit Cost       100 non-null    float64
 11  Total Revenue   100 non-null    float64
 12  Total Cost      100 non-null    float64
 13  Total Profit    100 non-null    float64
dtypes: float64(5), int64(2), object(7)
memory usage: 11.1+ KB

In [31]:
#Convert columns to their required categorical and date types.
    
df['Item Type'] = df['Item Type'].astype('category')
df['Sales Channel'] = df['Sales Channel'].astype('category')
df['Order Priority'] = df['Order Priority'].astype('category')
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

In [32]:
# check the updated dataframe.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          100 non-null    object
 1   Country         100 non-null    object
 2   Item Type       100 non-null    category
 3   Sales Channel   100 non-null    category
 4   Order Priority  100 non-null    category
 5   Order Date      100 non-null    datetime64[ns]
 6   Order ID        100 non-null    int64
 7   Ship Date       100 non-null    datetime64[ns]
 8   Units Sold      100 non-null    int64
 9   Unit Price      100 non-null    float64
 10  Unit Cost       100 non-null    float64
 11  Total Revenue   100 non-null    float64
 12  Total Cost      100 non-null    float64
 13  Total Profit    100 non-null    float64
dtypes: category(3), datetime64[ns](2), float64(5), int64(2), object(2)
memory usage: 9.7+ KB

In [33]:
# Count the occurrences of each value in the 'Region' column.
df['Region'].value_counts()

Region
Sub-Saharan Africa                   36
Europe                               22
Australia and Oceania                11
Asia                                 11
Middle East and North Africa         10
Central America and the Caribbean     7
North America                         3
Name: count, dtype: int64

1. Calculate the total revenue for each region and sort in descending order.

In [34]:
Total_revenue_region_wise = df.groupby('Region')['Total Revenue'].sum().sort_values(ascending=False)

2. Calculate the total revenue for each region and country combination, sort in descending order, and reset the index

In [35]:
total_revenue_region_country_wise = df.groupby(['Region','Country'])['Total Revenue'].sum().sort_values(ascending=False).reset_index()
total_revenue_region_country_wise

                               Region       Country  Total Revenue
0   Central America and the Caribbean      Honduras     6336545.48
1                                Asia       Myanmar     6161257.90
2                  Sub-Saharan Africa      Djibouti     6052890.86
3                                Asia  Turkmenistan     5822036.20
4                       North America        Mexico     5643356.55
..                                ...           ...            ...
71       Middle East and North Africa         Syria       35304.72
72                             Europe      Slovakia       26344.26
73              Australia and Oceania   New Zealand       20404.71
74                               Asia    Kyrgyzstan       19103.44
75       Middle East and North Africa        Kuwait        4870.26

[76 rows x 3 columns]

3.Calculate the total units sold for each item type and sort in descending order.

In [36]:
total_units_sold_by_Item_type = df.groupby(['Item Type'])['Units Sold'].sum().sort_values(ascending=False)
total_units_sold_by_Item_type

C:\Users\ankit\AppData\Local\Temp\ipykernel_19744\3801883858.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  total_units_sold_by_Item_type = df.groupby(['Item Type'])['Units Sold'].sum().sort_values(ascending=False)

Item Type
Cosmetics          83718
Clothes            71260
Beverages          56708
Fruits             49998
Personal Care      48708
Office Supplies    46967
Household          44727
Baby Food          40545
Cereal             25877
Vegetables         20051
Snacks             13637
Meat               10675
Name: Units Sold, dtype: int64

4. Calculate the total revenue for each item type and sort in descending order.

In [37]:
total_revenue_by_Item_type = df.groupby(['Item Type'])['Total Revenue'].sum().sort_values(ascending=False)
total_revenue_by_Item_type

C:\Users\ankit\AppData\Local\Temp\ipykernel_19744\1435943919.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  total_revenue_by_Item_type = df.groupby(['Item Type'])['Total Revenue'].sum().sort_values(ascending=False)

Item Type
Cosmetics          36601509.60
Office Supplies    30585380.07
Household          29889712.29
Baby Food          10350327.60
Clothes             7787292.80
Cereal              5322898.90
Meat                4503675.75
Personal Care       3980904.84
Vegetables          3089057.06
Beverages           2690794.60
Snacks              2080733.46
Fruits               466481.34
Name: Total Revenue, dtype: float64

5.Calculate the total profit for each item type and sort in descending order.

In [38]:
df.groupby(['Item Type'])['Total Profit'].sum().sort_values(ascending=False)

C:\Users\ankit\AppData\Local\Temp\ipykernel_19744\1300850833.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['Item Type'])['Total Profit'].sum().sort_values(ascending=False)

Item Type
Cosmetics          14556048.66
Household           7412605.71
Office Supplies     5929583.75
Clothes             5233334.40
Baby Food           3886643.70
Cereal              2292443.43
Vegetables          1265819.63
Personal Care       1220622.48
Beverages            888047.28
Snacks               751944.18
Meat                 610610.00
Fruits               120495.18
Name: Total Profit, dtype: float64

6.Calculate the total revenue for each sales channel.

In [39]:
df.groupby('Sales Channel')['Total Revenue'].sum()

C:\Users\ankit\AppData\Local\Temp\ipykernel_19744\3134357026.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('Sales Channel')['Total Revenue'].sum()

Sales Channel
Offline    79094809.20
Online     58253959.11
Name: Total Revenue, dtype: float64

7. Calculate the total profit for each sales channel.

In [40]:
df.groupby('Sales Channel')['Total Profit'].sum()

C:\Users\ankit\AppData\Local\Temp\ipykernel_19744\2762136476.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('Sales Channel')['Total Profit'].sum()

Sales Channel
Offline    24920726.67
Online     19247471.73
Name: Total Profit, dtype: float64

8. Calculate the total units sold for each combination of sales channel and item type, and sort in descending order.

In [41]:
df.groupby(['Sales Channel','Item Type'])["Units Sold"].sum().sort_values(ascending=False)

C:\Users\ankit\AppData\Local\Temp\ipykernel_19744\3719431817.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['Sales Channel','Item Type'])["Units Sold"].sum().sort_values(ascending=False)

Sales Channel  Item Type
Offline        Household          44445
Online         Cosmetics          41969
Offline        Cosmetics          41749
               Beverages          41588
               Clothes            40871
               Personal Care      40350
Online         Fruits             36094
               Clothes            30389
               Office Supplies    26168
Offline        Baby Food          24098
Online         Cereal             22116
Offline        Office Supplies    20799
Online         Baby Food          16447
               Beverages          15120
               Vegetables         14834
Offline        Fruits             13904
Online         Snacks             13637
               Meat               10675
               Personal Care       8358
Offline        Vegetables          5217
               Cereal              3761
Online         Household            282
Offline        Snacks                 0
               Meat                   0
Name: Units Sold, dtype: int64

9. Define a function to calculate the total units sold for each item type in a specific year. In this case, the function is applied to the year 2014.

In [42]:
def year_wise_unit_sold(year):
    new_df = df[df['Order Date'].dt.year == year]

    return new_df.groupby('Item Type')['Units Sold'].sum().sort_values(ascending=False)

year_wise_unit_sold(2014)

C:\Users\ankit\AppData\Local\Temp\ipykernel_19744\1459873428.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return new_df.groupby('Item Type')['Units Sold'].sum().sort_values(ascending=False)

Item Type
Beverages          23892
Fruits             15687
Baby Food          13009
Clothes            12010
Cosmetics           7215
Household           6954
Cereal              6593
Personal Care       4901
Office Supplies     1779
Meat                   0
Snacks                 0
Vegetables             0
Name: Units Sold, dtype: int64

10. Define a function to calculate the total units sold for each combination of region, country, and item type in a specific year. The function is applied to the year 2015.

In [43]:
def year_wise_unit_sold(year):
    new_df = df[df['Order Date'].dt.year == year]

    return new_df.groupby(["Region","Country",'Item Type'])['Units Sold'].sum().sort_values(ascending=False)

year_wise_unit_sold(2015)

C:\Users\ankit\AppData\Local\Temp\ipykernel_19744\1187618986.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return new_df.groupby(["Region","Country",'Item Type'])['Units Sold'].sum().sort_values(ascending=False)

Region              Country                Item Type
Asia                Myanmar                Household        8250
Sub-Saharan Africa  Madagascar             Clothes          7342
                    Republic of the Congo  Personal Care    6070
Asia                Myanmar                Clothes          5930
North America       Mexico                 Personal Care    5767
                                                            ...
Europe              Australia              Cosmetics           0
                                           Fruits              0
                                           Household           0
                                           Meat                0
Sub-Saharan Africa  Solomon Islands        Vegetables          0
Name: Units Sold, Length: 720, dtype: int64

11. Define a function to calculate the total profit for each combination of region and country in a specific year. The function is applied to the year 2012.

def year_wise_unit_sold(year):
    new_df = df[df['Order Date'].dt.year == year]

    return new_df.groupby(['Region',"Country"])['Total Profit'].sum().sort_values(ascending=False)

year_wise_unit_sold(2012)

In [45]:
def year_wise_unit_sold(year):
    new_df = df[df['Order Date'].dt.year == year]

    return new_df.groupby(['Region',"Country",'Item Type'])['Total Profit'].sum().sort_values(ascending=False)

year_wise_unit_sold(2017)

C:\Users\ankit\AppData\Local\Temp\ipykernel_19744\3366190867.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return new_df.groupby(['Region',"Country",'Item Type'])['Total Profit'].sum().sort_values(ascending=False)

Region                             Country     Item Type
Central America and the Caribbean  Honduras    Household     1487261.02
Sub-Saharan Africa                 Djibouti    Cereal         766835.04
Asia                               Bangladesh  Clothes        606834.72
Sub-Saharan Africa                 Djibouti    Snacks         404010.78
Europe                             France      Cosmetics      315574.05
                                                                ...
Central America and the Caribbean  Djibouti    Cosmetics           0.00
                                               Clothes             0.00
                                               Cereal              0.00
                                               Beverages           0.00
Sub-Saharan Africa                 The Gambia  Vegetables          0.00
Name: Total Profit, Length: 336, dtype: float64